{% extends "core/base.html" %}

{% block title %} Detail Page of an Article{% endblock title %}


{% block content %}

<div class="article-section mt-4">
    <div class="container">
        <img src="{{article.image_url}}"
            class="img-fluid">
        </div>
    </div>
</div>
<div class="container my-4">
    <h1 class="font-weight-bold">{{ article.title }}</h1>
    <div class="span">
        <h6 class="font-weight-bold">Written by {{article.author}}</h6>
        <p class="text-secondary ">{{ article.created_at|date:"d.F.Y" }}</p>
    </div>
    <hr>
    <p>{{ article.content|safe }}</p>
    
    {% if article.author == user %}
        <a class="btn btn-secondary btn-sm mr-2" href="{% url 'article-update' article.id %}"><i class="fas fa-edit"></i>Edit</a>
        <a class="btn btn-danger btn-sm" href="{% url 'article-delete' article.id %}"><i class="fa fa-trash-alt"> Delete</i></a>
    {% endif %}
</div>

{% endblock content %}