{% extends "base.html" %}
{% load martortags %}
{% load crispy_forms_tags %}
{% load comments %}
{% load comments_xtd %}
{% load martortags %}

{% block title %} Detail Page of an Article{% endblock title %}

{% block extrahead %}
  {{form.media}}
{% endblock extrahead %}

{% block content %}

<div class="container my-3">
    <img src="{{article.image_thumbnail.url}}" class="mx-auto d-flex">
</div>

<div class="container my-4">
    <h1 class="font-weight-bold">{{ article.title }}</h1>
    <div class="span">
        <h6 class="font-weight-bold">Written by {{article.author}}</h6>
        <p class="text-secondary ">{{ article.created_at|date:"d.F.Y" }}</p>
        {% if article.author == user %}
            <a class="btn btn-secondary btn-sm mr-2" href="{% url 'article-update' article.id %}">Edit</a>
            <a class="btn btn-danger btn-sm" href="{% url 'article-delete' article.id %}">Delete</i></a>
        {% endif %}
    </div>
    <hr>
    <p>{{ article.content|safe_markdown }}</p>
    
<div class="d-flex flex-row">
    <form action="{% url 'like-article' article.id %}" method="post">
        {% csrf_token %}
        {% if liked %}
            <button type="submit" name="article_id" value="{{article.id}}" class="btn btn-danger btn-sm my-3 mx-3"><i class="bi bi-heart-fill"></i></button>
        {% else %}
            <button type="submit" name="article_id" value="{{article.id}}" class="btn btn-secondary btn-sm my-3 mx-3"><i class="bi bi-heart"></i></button>
        {% endif %}
    </form>
    <form action="{% url 'bookmark-article' article.id %}" method="post">
        {% csrf_token %}
        {% if bookmarked %}
            <button type="submit" name="article_id" value="{{article.id}}" class="btn btn-primary btn-sm my-3 mx-3"><i class="bi bi-bookmark-fill"></i></button>
        {% else %}
            <button type="submit" name="article_id" value="{{article.id}}" class="btn btn-secondary btn-sm my-3 mx-3"><i class="bi bi-bookmark"></i></button>
        {% endif %}
    </form>
</div>

{% if article.allow_comments %}
    {% get_comment_count for article as comment_count %}
    <div class="py-4 text-center">
        <a href="{% url 'article-list' %}">Back to the article list</a>
    </div>
    {% if comment_count %}
     <ul class="media-list">
        {% render_xtdcomment_tree for article allow_flagging allow_feedback show_feedback %}
    </ul>
    {% endif %}

    <div class="card card-block mb-5">
        <div class="card-body">
            <h4 class="card-title text-center pb-3">Post your comment</h4>
            {% render_comment_form for article %}
        </div>
    </div>
{% else %}
    <div class="text-center">
        <span class="text-muted">Comments are disabled. Contact the Author or an Admin on our Discord Server for more Information</span>
    </div>
{% endif %}     

</div>

{% endblock content %}