{% extends "base.html" %}
{% load martortags %}
{% load cropping %}

{% block title %}Search Results{% endblock title %}

{% block extrahead %}
  {{form.media}}
{% endblock extrahead %}

{% block content %}
<div class="container mt-5">
  <ul class="list-group">
      {% for result in object_list %}
      <div class="card mb-3 shadow-sm">
      <div class="row">
        <div class="col-md-8 align-self-center">
          <div class="card-body">
            <h3 class="card-title font-weight-bold">{{result.title}}</h3>
            <p class="card-text">
              {{result.content|slice:":150"|safe_markdown}}
            </p>
            <p class="card-text">
              <small class="text-dark">Posted at {{ result.created_at|date:"d.F.Y" }}</small>
            </p>
            {% for tag in result.tags.all %}
              <span class="badge badge-pill badge-primary">{{tag}}</span>
            {% endfor %} 
            <a href="{{ result.get_absolute_url }}"
              class="btn btn-link float-end text-dark nav-link font-weight-bold">Read more</a>
          </div>
        </div>
        <div class="col-md-4">
          <img src="{% cropped_thumbnail result "default_cropping" %}">
          {% comment %} <img src="{{ result.image.url }}" class="card-img" alt="..." /> {% endcomment %}
        </div>
      </div>
    </div>
      {% empty %}
          <h1 class="text-center my-3">Sry nothing found!</h1>
      {% endfor %}
  </ul>
</div>
{% endblock content %}