{% extends "base.html" %}
{% load friendshiptags %}
{% block title %}User Profile{% endblock title %}

{% block content %}
<div class="content-section mt-4">
    <div class="media">
        <img class="profile-img mx-5 my-5" src="{{ other_user.image.url }}">
        <div class="media-body">
            <h2 class="profile-heading mx-5 mt-5">Username: {{ other_user.username }}</h2>
            <p class="profile-email mx-5 mt-3">Email: {{ other_user.email }}</p>
            <!-- <button type="button" class="btn btn-link mx-5 text-muted" data-bs-toggle="modal" data-bs-target="#exampleModal">
                <i class="bi bi-people"></i>
                {{ friendsCount }}
            </button> -->

            <!-- <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        {% followers request.user %}
                        {% for follower in followers %}
                            <a href="{% url 'user-profile' follower.id %}">{{ follower.first_name }} {{ follower.last_name }} (@{{follower.username}})
                        {% endfor %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                    </div>
                </div>
            </div> -->

            {% comment %} {% if request.user.username == other_user.username %}
                <a href="{% url 'profile'%}" class="ml-5 mr-2 btn btn-outline-primary">My Profile</a>
                <a href="{% url 'friendship_followers' other_user %}" class="mx-2 btn btn-outline-secondary">My Follower</a>
                <a href="{% url 'friendship_following' other_user %}" class="mx-2 btn btn-outline-secondary">I'm following</a>
                {% if unreadfriendrequestsCount > 0 %}
                    <span class="text-muted mx-2">{{ unreadfriendrequests }}</span>
                    <a href="{% url 'friendship_accept' friendship_request.id %}" class="mx-1 btn btn-outline-secondary">Accept FriendRequest from {{request.user}}</a>
                {% else %}
                    <span>No Friendrequest currently</span>
                {% endif %}
            {% else %} {% endcomment %}
                
                {% if request.user in friends %}
                    <div>
                        <span>Already Friends. See</span> <p data-bs-toggle="modal" data-bs-target="#exampleModal">FriendList</p>
                            <!-- <a href="{% url 'friendship_view_friends' request.user.username %}">Friendslist</a> -->
                    </div>
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">FriendList</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body"> {% friends request.user %} </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>

                {% elif sentfriendrequest %}
                    <a href="{% url 'friendship_add_friend' other_user.username  %}" class="ml-5 btn btn-outline-success">Cancel Friendrequest</a>
                {% else %}
                    <a href="{% url 'friendship_add_friend' other_user.username  %}" class="ml-5 btn btn-outline-success">Send Friendrequest</a>
                {% endif %}

                {% if request.user in followers %}
                    <button id="unfollow" class="mx-1 btn btn-outline-secondary">Unfollow</button>
                    <!-- <a href="{% url 'follower_remove' other_user.username %}" class="mx-1 btn btn-outline-secondary">Unfollow</a> -->
                {%else %}
                    <!-- <a href="{% url 'follower_add' other_user.username %}" class="mx-1 btn btn-outline-secondary">Follow</a> -->
                    <button id="follow" class="mx-1 btn btn-outline-secondary">Follow</button>

                {% endif %}
            {% comment %} {% endif %} {% endcomment %}
        </div>
    </div>
</div>

<!-- <script>
    const follow_btn = document.getElementById("follow")
    if(follow_btn != undefined) {
        follow_btn.addEventListener("click",() => {
            $.ajax({
                method: "POST",
                url: "{% url 'follower_add' other_user.username %}",
                data: {
                    "csrf-token": "{{ csrf_token }}"
                },
                success: () => alert("Success followed")
            });
        })
    }
    const unfollow_btn = document.getElementById("unfollow")
    if(unfollow_btn != undefined){
        unfollow_btn.addEventListener("click",() => {
            $.ajax({
                method: "POST",
                url: "{% url 'follower_remove' other_user.username %}",
                data: {
                    "csrf-token": "{{ csrf_token }}"
                },
                success: () => alert("Successfully unfollowed")
            });
        })
    }
</script> -->

{% endblock content %}