a {
  text-decoration: none !important;
}

.py-7 {
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
}

.py-md-7 {
  padding-top: 5rem !important;
  padding-bottom: 5rem !important; }

.py-6 {
  padding-top: 4rem !important;
  padding-bottom: 4rem !important;
}

.py-lg-9 {
  padding-top: 7rem !important;
  padding-bottom: 7rem !important;
}

.py-md-9 {
  padding-top: 7rem !important;
  padding-bottom: 7rem !important;
}

.mt-md-7 {
  margin-top: 5rem !important;
}
.mt-md-8 {
  margin-top: 6rem !important;
}

.light-gray-1 {
  background-color: #fafafa;
}

.card-item {
  border: 1px solid #eee;
  position: relative;
}

.card-item.noborder {
  border: none;
}

.card-item.cover .media.bg-cover,
.card.cover .media.bg-cover {
  height: inherit;
  -webkit-filter: brightness(1);
  filter: brightness(1);
}
.card-item.cover .media.bg-cover .filter,
.card.cover .media.bg-cover .filter {
  height: 100%;
  background: black;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.747) 86%
  );
}

.card-item.cover .card-content,
.card.cover .card-content {
  position: relative;
  z-index: 10;
}

.cover {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.filter {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}
.filter.basic {
  background-color: rgba(33, 33, 33, 0.5);
}
.filter.basicLight {
  background-color: rgba(255, 255, 255, 0.5);
}
.filter.gradient-filter {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 14.58%,
    rgba(56, 56, 56, 0.84) 100%
  );
}
.filter.light-filter-diagonal {
  background-color: rgba(255, 255, 255, 0.8);
}
@media (min-width: 992px) {
  .filter.light-filter-diagonal {
    background: linear-gradient(
      89.83deg,
      #ffffff 14.24%,
      #ffffff 14.25%,
      rgba(255, 255, 255, 0) 99.55%
    );
  }
}
.filter.dark-filter-diagonal {
  background-color: rgba(0, 0, 0, 0.8);
}
@media (min-width: 992px) {
  .filter.dark-filter-diagonal {
    background: linear-gradient(
      89.83deg,
      #020202 14.24%,
      #000000 14.25%,
      rgba(255, 255, 255, 0) 99.55%
    );
  }
}

.btn {
  padding: 12px 24px;
}

.btn,
.btn-text {
  font-size: 14px;
  line-height: 1.5;
  font-weight: 500;
}
@media screen and (min-width: 992px) {
  .btn,
  .btn-text {
    font-size: 14px;
  }
}

.bg-cover {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.primary-text-color {
  color: #6b46c1;
}

.second-text-color {
  color: #737373;
}

.primary-color {
  background-color: #6b46c1;
  border-color: #6b46c1;
  color: #fff;
}

.btn-round {
  border-radius: 50px;
}

.icn-xs {
  font-weight: 400;
  width: 16px !important;
  height: 16px !important;
  font-size: 16px;
}

.icn-sm {
  font-weight: 400;
  width: 24px !important;
  height: 24px !important;
  font-size: 24px;
}

.icn-md {
  font-weight: 500;
  width: 32px !important;
  height: 32px !important;
  font-size: 32px;
}

.icn-lg {
  font-weight: 700;
  width: 48px !important;
  height: 48px !important;
  font-size: 48px;
}

.icn-xl {
  font-weight: 700;
  width: 72px !important;
  height: 72px !important;
  font-size: 72px;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  color: #2d3748;
}

h1,
.h1 {
  font-size: calc(1.375rem + 1.5vw);
}
@media (min-width: 1200px) {
  h1,
  .h1 {
    font-size: 2.5rem;
  }
}

h2,
.h2 {
  font-size: calc(1.325rem + 0.9vw);
}
@media (min-width: 1200px) {
  h2,
  .h2 {
    font-size: 2rem;
  }
}

h3,
.h3 {
  font-size: calc(1.3rem + 0.6vw);
}
@media (min-width: 1200px) {
  h3,
  .h3 {
    font-size: 1.75rem;
  }
}

h4,
.h4 {
  font-size: calc(1.275rem + 0.3vw);
}
@media (min-width: 1200px) {
  h4,
  .h4 {
    font-size: 1.5rem;
  }
}

h5,
.h5 {
  font-size: 1.25rem;
}

h6,
.h6 {
  font-size: 1rem;
}

.h0 {
  font-size: 2.8rem;
  line-height: 1.2;
  font-weight: 800;
}
@media screen and (min-width: 992px) {
  .h0 {
    font-size: 3.7rem;
  }
}
@media screen and (min-width: 1200px) {
  .h0 {
    font-size: 4.8rem;
  }
}

.h1 {
  font-size: 38px;
  line-height: 1.5;
  font-weight: 800;
}
@media screen and (min-width: 768px) {
  .h1 {
    font-size: 40px;
  }
}
@media screen and (min-width: 992px) {
  .h1 {
    font-size: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .h1 {
    font-size: 58px;
  }
}

.h2 {
  font-size: 30px;
  line-height: 1.5;
  font-weight: 800;
}
@media screen and (min-width: 992px) {
  .h2 {
    font-size: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .h2 {
    font-size: 40px;
  }
}

.h3-plus {
  font-weight: 800;
}
@media screen and (min-width: 768px) {
  .h3-plus {
    font-size: 24px;
    line-height: 1.5;
  }
}
@media screen and (min-width: 992px) {
  .h3-plus {
    font-size: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .h3-plus {
    font-size: 30px;
  }
}

.h3 {
  font-size: 24px;
  line-height: 1.5;
  font-weight: 700;
}
@media screen and (min-width: 992px) {
  .h3 {
    font-size: 24px;
  }
}
@media screen and (min-width: 1200px) {
  .h3 {
    font-size: 24px;
  }
}

.h4 {
  font-size: 18px;
  line-height: 1.5;
  font-weight: 300;
}
@media screen and (min-width: 992px) {
  .h4 {
    font-size: 24px;
  }
}
@media screen and (min-width: 1200px) {
  .h4 {
    font-size: 24px;
  }
}

.h5 {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 700;
}
@media screen and (min-width: 992px) {
  .h5 {
    font-size: 16px;
  }
}

.h6 {
  font-size: 14px;
  line-height: 1.5;
  font-weight: 500;
}
@media screen and (min-width: 992px) {
  .h6 {
    font-size: 14px;
  }
}

.bg-latest {
  background-color: #F7FAFC;
  /* background-color: #d0d0d0; */
}

.btn-more {
  background-color: #6B46C1;
  color: white;
  /* float:right;
  margin:2.5rem 5rem !important; */
}

.btn-more:hover {
  background-color: #230A5F;
  color: white;
}

.head-section {
  min-height: 400px;
  height: auto;
  background-color: #f7f6f3;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-section {
  max-height: 400px;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.content-section{
  width:80%;
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin:20px auto;
}

.box {
  width: 500px;
  /* position:relative;
  left:15rem; */
  margin: 4rem auto;
  height: auto;
}