{% extends "base.html" %}
{% load static %}
{% load martortags %}

{% block title %}Home{% endblock title %}

{% block content %}
    <!-- NAVIGATION END -->
        <div class="container py-6 py-lg-9">
            <div class="row justify-content-center">
                <div class="text-center col-lg-8 justify-content-center py-lg-5">
                    <h1 class="h1 text-black mt-0">Read and share new ideas with everyone about any topic. for free! ✨</h1>
                    <h4 class="h4 second-text-black" style="margin-top: 40px">Own your content & share it with people ☕️ </h4>
                    <div class="cta" style="margin-top: 35px">
                        <a class="btn primary-color btn-round mb-4 mb-sm-0 mx-2" href="{% url 'register' %}">
                            <span class="btn-text">Become a member</span>
                        </a>
                        <a class="btn primary-color btn-round btn-outline mb-4 mb-sm-0 mx-2" href="#">
                            <span class="btn-text">Learn More</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    <section class="position-relative">
        <div class="container py-7">
            <div class="row justify-content-center">
                <div class="text-center col-lg-6">
                    <h2 class="h2 text-black">Better Experience With Premium Quality </h2>
                    <p class="paragraph text-black" style="margin-top: 10px">Share Your Knowledge on JumBlog and will always be completely free.
                        Don't miss out.
                    </p>
                </div>
            </div>
            <div class="row align-items-stretch mt-5 mt-md-7">
                <div class="col-lg-4 mb-4">
                    <div class="card-item text-center rounded" style="padding: 30px 40px"><i class="bi bi-award-fill icn-lg primary-text-black"></i>
                        <h5 class="h5 text-black" style="margin-top: 10px">Start Blogging For Free ! </h5>
                    </div>
                </div>
                <div class="col-lg-4 mb-4">
                    <div class="card-item text-center rounded primary-color" style="padding: 30px 40px"><i class="bi bi-alarm icn-lg text-white"></i>
                        <h5 class="h5 text-white" style="margin-top: 10px">Be Right on Time </h5>
                    </div>
                </div>
                <div class="col-lg-4 mb-4">
                    <div class="card-item text-center rounded" style="padding: 30px 40px"><i class="bi bi-lightning-fill icn-lg primary-text-black"></i>
                        <h5 class="h5 text-black" style="margin-top: 10px">Fast & Premium</h5>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- CONTENT -->
    <section class="position-relative light-gray-1">
        <div class="container-fluid py-7 py-md-9">
            <div class="row justify-content-center">
                <div class="text-center col-lg-6">
                    <h2 class="h2 text-black">Latest Blogs </h2>
                </div>
            </div>
            <div class="row align-items-stretch mt-5 mt-md-8">
                <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                    <div class="card-item cover rounded dark d-flex align-items-end">
                        <div class="media bg-cover" style="z-index: 0;"><img class="cover" src="{% static 'img/post.1.jpg' %}"></img>
                            <div class="filter"></div>
                        </div>
                        <div class="card-content z-index-1" style="margin-top: 60%; padding: 20px 20px">
                            <a class="h6 text-white" href="{% url 'categorized-article-list' category='WebDevelopment' %}">Web Dev</a>
                            <h4 class="h4 text-white" style="margin-top: 15px">blog 1</h4>
                            <button class="btn primary-color btn-round" style="margin-top: 15px"><span>Read more</span></button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                    <div class="card-item cover rounded dark d-flex align-items-end">
                        <div class="media bg-cover" style="z-index: 0;"><img class="cover" src="{% static 'img/post.2.jpg' %}"></img>
                            <div class="filter"></div>
                        </div>
                        <div class="card-content z-index-1" style="margin-top: 60%; padding: 20px 20px">
                            <a class="h6 text-white" href="{% url 'categorized-article-list' category='News' %}">News </a>
                            <h4 class="h4 text-white" style="margin-top: 15px">blog 2</h4>
                            <button class="btn primary-color btn-round"style="margin-top: 15px"><span>Read more</span></button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                    <div class="card-item cover rounded dark d-flex align-items-end">
                        <div class="media bg-cover" style="z-index: 0;"><img class="cover" src="{% static 'img/post.3.jpg' %}"></img>
                            <div class="filter"></div>
                        </div>
                        <div class="card-content z-index-1" style="margin-top: 60%; padding: 20px 20px">
                            <a class="h6 text-white" href="{% url 'categorized-article-list' category='Movies' %}">Movies </a>
                            <h4 class="h4 text-white" style="margin-top: 15px">blog 3</h4>
                            <button class="btn primary-color btn-round"style="margin-top: 15px"><span>Read more</span></button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card-item cover rounded dark d-flex align-items-end">
                        <div class="media bg-cover" style="z-index: 0;"><img class="cover" src="{% static 'img/post.4.jpg' %}"></img>
                            <div class="filter"></div>
                        </div>
                        <div class="card-content z-index-1" style="margin-top: 60%; padding: 20px 20px">
                                <a class="h6 text-white" href="{% url 'categorized-article-list' category='Music' %}">Music</a>
                                <h4 class="h4 text-white" style="margin-top: 15px">blog 4</h4>
                                <button class="btn primary-color btn-round"style="margin-top: 15px"><span>Read more</span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="container py-5 py-md-7">
        <div class="row justify-content-between align-items-center">
            <div class="col-md-5 mb-4 mb-lg-0">
                <h2 class="h2 dark-text-black">SUBSCRIBE TO US! </h2>
                <p class="paragraph dark-text-black" style="margin-top: 15px">Join our mailing list to receive news</p>
            </div>
            <div class="col-lg-5 col-md-6">
                <form class="form-group"method="POST">
                    {% csrf_token %}
                    <div class="input-group input-style-2 mb-2 mr-sm-2">
                        <input class="form-control" type="text" placeholder="Your Email">
                        <div class="input-group-append mt-2 mt-sm-0">
                            <button class="btn primary-color h-100" type="submit">
                                <span>Subscribe</span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}