{% extends "base.html" %}
{% load martortags %}
{% comment %} {% load cropping %} {% endcomment %}

{% block title %}List all Tasks{% endblock title %}

{% block extrahead %}
  {{form.media}}
{% endblock extrahead %}

{% block content %}

  <div class="container py-5">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col">
        <p class="h1 text-center text-primary">
            <u>My Todos</u>
        </p>
        {% for task in tasks %}
        <div class="card bg-steel">
          <div class="card-body py-4 px-4 px-md-5">
            <ul class="list-group list-group-horizontal rounded-0 bg-transparent">
              <li class="list-group-item d-flex align-items-center ps-0 pe-3 py-1 rounded-0 border-0 bg-transparent">
                <div class="form-check"> 
                  <input
                    class="form-check-input me-0"
                    type="checkbox"
                  />
                </div>
              </li>
              <li class="list-group-item px-3 py-1 d-flex align-items-center flex-grow-1 border-0 bg-transparent">
                <p class="lead fw-normal mb-0">{{task.name}}</p>
              </li>
              {% if task.getStatus != "Outdated" %}
              <li class="list-group-item px-3 py-1 d-flex align-items-center border-0 bg-transparent">
                <div class="py-2 px-3 me-2 border border-warning rounded-3 d-flex align-items-center bg-light">
                  <p class="small mb-0">
                    <a href="#" data-mdb-toggle="tooltip" title="Due date">
                      <i class="bi bi-hourglass-split me-2 text-warning"></i>
                    </a>
                    {{task.end|date:"d.F.Y"}}
                  </p>
                </div>
              </li>
              {% endif %}
              <li class="list-group-item ps-3 pe-0 py-1 rounded-0 border-0 bg-transparent">
                <div class="d-flex flex-row justify-content-end mb-1">
                  <a href="{{ task.get_update_url }}" class="text-info" data-mdb-toggle="tooltip" title="Edit todo"><i class="bi bi-pen me-3"></i></a>
                  <a href="{{task.get_deletion_url}}" class="text-danger" data-mdb-toggle="tooltip" title="Delete todo"><i class="bi bi-trash"></i></a>
                </div>
                <div class="text-end text-muted">
                  <a href="#" class="text-muted" data-mdb-toggle="tooltip" title="Created date">
                    <p class="small mb-0"><i class="bi bi-info-circle mx-2"></i>{{task.created_at|date:"d.F.Y"}}</p></a>
                </div>
              </li>
            </ul>
            {% empty %}
              <h1 class="text-center text-uppercase fw-bold">
                Currently no Tasks!
              </h1>
            {% endfor %}
          </div>
        </div>
        <a class="btn btn-more float-end text-light mt-5" href="{% url 'task-create' %}"><i class="bi bi-plus-square"></i> Create task</a> 
      </div>
    </div>
  </div>

{% if is_paginated %}
  <div class="container">
    {% if page_obj.has_previous %}
      <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
      <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
      {% if page_obj.number == num %}
        <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
      {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
        <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
      {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
      <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
      <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
    {% endif %}
  </div>
{% endif %}

{% endblock content %}