{% extends "base.html" %}
{% load martortags %}
{% load crispy_forms_tags %}
{% load comments %}
{% load comments_xtd %}
{% load martortags %}
{% comment %} {% load cropping %} {% endcomment %}

{% block title %} Detail Page of a Task{% endblock title %}

{% block extrahead %}
  {{form.media}}
{% endblock extrahead %}

{% block content %}

<div class="container my-4">
    <h1 class="font-weight-bold">{{ task.title }}</h1>
    <div class="span">
        <h6 class="font-weight-bold">Written by {{task.creator}}</h6>
        <p class="text-secondary ">{{ task.created_at|date:"d.F.Y" }}</p>
        {% if task.creator == user %}
            <a class="btn btn-secondary btn-sm mr-2" href="{% url 'task-update' task.id %}">Edit</a>
            <a class="btn btn-danger btn-sm" href="{% url 'task-delete' task.id %}">Delete</i></a>
        {% endif %}
    </div>
    <hr>
    <p>{{ task.content|safe_markdown }}</p>
</div>

{% endblock content %}